{% extends "flowers/base.html" %}

{% block breadcrumbs %}
<nav class="breadcrumb" aria-label="breadcrumbs">
	<ul>
		<li><a href="{% url 'flavors:index' %}">Flavors</a></li>
		<li><a href="{% url 'flowers:index' %}">Flowers</a></li>
		<li><a href="">Run</a></li>
	</ul>
</nav>
{% endblock %}

{% block content %}
<h1 class="title">Run</h1>

<form action='' method='POST'>
	{% csrf_token %}

	<div class="field">
		<label class="label">Input Data</label>
		<div class="select">
			<select name='input_data'>
				{% for input_data in input_data_list %}
					<option value='{{  input_data.id }}'>{{ input_data.name }}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="field">
		<label class="label">Training Session</label>
		<div class="select">
			<select name='training_session'>
				{% for training_session in training_sessions %}
					<option value='{{  training_session.id }}'>{{ training_session.name }}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="field">
		<label class="label">Ouput</label>
		<div class="select">
			<select name='output'>
				<option value='graph'>Graph</option>
				<option value='plain_text'>Plain Text</option>
			</select>
		</div>
	</div>

	<div class="field">
		<label class="label">Compare with Input Data?</label>

		<div class="control">
			<label class="radio">
				<input type="radio" value='yes' name="compare">
		    	Yes
		  	</label>
		  	<label class="radio">
		    	<input type="radio" value='no' name="compare" checked>
		    	No
		  	</label>
		</div>
	</div>

	<input type='submit' class="button is-primary" value='Run'>
</form>
{% endblock %}