{% extends "training_data/base.html" %}

{% block breadcrumbs %}
<nav class="breadcrumb" aria-label="breadcrumbs">
	<ul>
		<li><a href="{% url 'flavors:index' %}">Flavors</a></li>
		<li><a href="{% url ''|add:flavor.machine_name|add:':index' %}">{{ flavor.name }}</a></li>
		<li><a href="{% url ''|add:flavor.machine_name|add:':input_data_detail' input_data.id %}">{{ input_data.name }}</a></li>
		<li><a href="">Delete</a></li>
	</ul>
</nav>
{% endblock %}

{% block content %}
<h1 class='title'>Are you sure you want to delete '{{ input_data.name }}'?</h1>

<form action='' method='POST'>
	{% csrf_token %}

	<input type='submit' class="button is-danger" value='Yes'>
	<input type='submit' class="button" value='No'>
</form>
{% endblock %}